<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,346}</string>
                <key>spriteSourceSize</key>
                <string>{16,346}</string>
                <key>textureRect</key>
                <string>{{1932,1},{16,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{1020,913},{54,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>center_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{394,1449},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checked_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1054,1401},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checked_checkbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1950,158},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear1_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1054,1340},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1858,1540},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compass_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{910,910}</string>
                <key>spriteSourceSize</key>
                <string>{910,910}</string>
                <key>textureRect</key>
                <string>{{1020,1},{910,910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compass_can.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,1017}</string>
                <key>spriteSourceSize</key>
                <string>{1017,1017}</string>
                <key>textureRect</key>
                <string>{{1,1},{1017,1017}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decrease_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1932,831},{72,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{1939,349},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,45}</string>
                <key>spriteSourceSize</key>
                <string>{302,45}</string>
                <key>textureRect</key>
                <string>{{428,1779},{302,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1504,1771},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eff_studio_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,149}</string>
                <key>spriteSourceSize</key>
                <string>{124,149}</string>
                <key>textureRect</key>
                <string>{{1858,1389},{124,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{1950,107},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>export_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1042,1777},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoa_hai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,425}</string>
                <key>spriteSourceSize</key>
                <string>{328,425}</string>
                <key>textureRect</key>
                <string>{{428,1449},{328,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>increase_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1282,1771},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>information_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{95,65}</string>
                <key>textureRect</key>
                <string>{{1932,637},{95,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1947,970},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{1993,1},{20,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luc_sat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,422}</string>
                <key>spriteSourceSize</key>
                <string>{325,422}</string>
                <key>textureRect</key>
                <string>{{1282,1340},{325,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngu_qui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,424}</string>
                <key>spriteSourceSize</key>
                <string>{327,424}</string>
                <key>textureRect</key>
                <string>{{1384,913},{327,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1118,1401},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_checkbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1162,1777},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1159,1340},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open_files_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{837,1779},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phuc_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,427}</string>
                <key>spriteSourceSize</key>
                <string>{328,427}</string>
                <key>textureRect</key>
                <string>{{394,1020},{328,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phuoc_duc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,427}</string>
                <key>spriteSourceSize</key>
                <string>{328,427}</string>
                <key>textureRect</key>
                <string>{{724,1020},{328,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,232}</string>
                <key>spriteSourceSize</key>
                <string>{474,232}</string>
                <key>textureRect</key>
                <string>{{1713,913},{474,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup_ok_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,41}</string>
                <key>spriteSourceSize</key>
                <string>{104,41}</string>
                <key>textureRect</key>
                <string>{{1950,1},{104,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_clear1_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1873,1750},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_clear_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{732,1779},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_decrease_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1356,1771},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{1939,408},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{977,1777},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_export_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1102,1777},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_increase_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1430,1771},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_information_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{95,65}</string>
                <key>textureRect</key>
                <string>{{1932,734},{95,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_left_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1947,1032},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1939,467},{103,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_open_files_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{907,1777},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_right_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{1947,572},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_zoom_in_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1947,1094},{63,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_zoom_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1947,1224},{63,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,262}</string>
                <key>spriteSourceSize</key>
                <string>{198,262}</string>
                <key>textureRect</key>
                <string>{{1609,1638},{198,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{1947,905},{63,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sanh_khi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,425}</string>
                <key>spriteSourceSize</key>
                <string>{327,425}</string>
                <key>textureRect</key>
                <string>{{1,1532},{327,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite9path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{1182,1401},{46,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>studio_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{1873,1601},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thien_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,425}</string>
                <key>spriteSourceSize</key>
                <string>{326,425}</string>
                <key>textureRect</key>
                <string>{{855,1449},{326,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touch_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1993,23},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,5}</string>
                <key>spriteSourceSize</key>
                <string>{277,5}</string>
                <key>textureRect</key>
                <string>{{1282,1764},{277,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{1208,1401},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,5}</string>
                <key>spriteSourceSize</key>
                <string>{277,5}</string>
                <key>textureRect</key>
                <string>{{1932,349},{277,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuyet_mang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,425}</string>
                <key>spriteSourceSize</key>
                <string>{328,425}</string>
                <key>textureRect</key>
                <string>{{1054,913},{328,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,510}</string>
                <key>spriteSourceSize</key>
                <string>{391,510}</string>
                <key>textureRect</key>
                <string>{{1,1020},{391,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ying_and_yang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,247}</string>
                <key>spriteSourceSize</key>
                <string>{247,247}</string>
                <key>textureRect</key>
                <string>{{1609,1389},{247,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zoom_in_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1947,1159},{63,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zoom_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1947,1289},{63,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{2004,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16e8316d1009b89d293ae267658ecfaf:66803f7ac65b39d26602993402eb97bd:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
