<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_popup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,232}</string>
                <key>spriteSourceSize</key>
                <string>{474,232}</string>
                <key>textureRect</key>
                <string>{{1743,1},{474,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,346}</string>
                <key>spriteSourceSize</key>
                <string>{16,346}</string>
                <key>textureRect</key>
                <string>{{1805,926},{16,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{1413,477},{54,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_arrow_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{1805,1274},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1208,1417},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checked_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1929,583},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checked_checkbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1898,1891},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear1_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1020,942},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1147,1369},{103,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compass_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{910,910}</string>
                <key>spriteSourceSize</key>
                <string>{910,910}</string>
                <key>textureRect</key>
                <string>{{1,1020},{910,910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compass_can.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,1017}</string>
                <key>spriteSourceSize</key>
                <string>{1017,1017}</string>
                <key>textureRect</key>
                <string>{{1,1},{1017,1017}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decrease_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1805,1293},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{1571,1790},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,45}</string>
                <key>spriteSourceSize</key>
                <string>{302,45}</string>
                <key>textureRect</key>
                <string>{{1413,430},{302,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1898,1728},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eff_studio_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,149}</string>
                <key>spriteSourceSize</key>
                <string>{124,149}</string>
                <key>textureRect</key>
                <string>{{1823,926},{124,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{1520,1803},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>export_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1520,1854},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoa_hai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,425}</string>
                <key>spriteSourceSize</key>
                <string>{328,425}</string>
                <key>textureRect</key>
                <string>{{913,1496},{328,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>increase_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1898,1366},{72,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>information_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{95,65}</string>
                <key>textureRect</key>
                <string>{{1453,1803},{95,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1580,1849},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{1413,501},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luc_sat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,422}</string>
                <key>spriteSourceSize</key>
                <string>{325,422}</string>
                <key>textureRect</key>
                <string>{{1571,1366},{325,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngu_qui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,424}</string>
                <key>spriteSourceSize</key>
                <string>{327,424}</string>
                <key>textureRect</key>
                <string>{{1476,940},{327,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_about_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{1920,1226},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>normal_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1929,647},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>normal_checkbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1936,1891},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1243,1803},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open_files_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1898,1588},{68,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phuc_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,427}</string>
                <key>spriteSourceSize</key>
                <string>{328,427}</string>
                <key>textureRect</key>
                <string>{{1020,513},{328,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phuoc_duc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,427}</string>
                <key>spriteSourceSize</key>
                <string>{328,427}</string>
                <key>textureRect</key>
                <string>{{1413,1},{328,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,232}</string>
                <key>spriteSourceSize</key>
                <string>{474,232}</string>
                <key>textureRect</key>
                <string>{{913,1020},{474,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup_ok_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,41}</string>
                <key>spriteSourceSize</key>
                <string>{104,41}</string>
                <key>textureRect</key>
                <string>{{1929,477},{104,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_about_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,55}</string>
                <key>spriteSourceSize</key>
                <string>{39,55}</string>
                <key>textureRect</key>
                <string>{{1920,1267},{39,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_clear1_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1348,1803},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_clear_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1243,1864},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_decrease_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1898,1440},{72,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{1637,1790},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1703,1790},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_export_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1642,1849},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_increase_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1898,1514},{72,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_information_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{95,65}</string>
                <key>textureRect</key>
                <string>{{1823,1226},{95,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_left_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1702,1852},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1348,1864},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_open_files_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1898,1658},{68,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_right_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{1879,1308},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_zoom_in_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1833,1790},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_zoom_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1768,1848},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_arrow_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{1717,430},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,262}</string>
                <key>spriteSourceSize</key>
                <string>{198,262}</string>
                <key>textureRect</key>
                <string>{{1680,726},{198,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{1768,1790},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanh_khi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,425}</string>
                <key>spriteSourceSize</key>
                <string>{327,425}</string>
                <key>textureRect</key>
                <string>{{1147,942},{327,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite9path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{1208,1369},{46,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>studio_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{1823,1077},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thien_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,425}</string>
                <key>spriteSourceSize</key>
                <string>{326,425}</string>
                <key>textureRect</key>
                <string>{{1243,1369},{326,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1435,501},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,5}</string>
                <key>spriteSourceSize</key>
                <string>{277,5}</string>
                <key>textureRect</key>
                <string>{{913,1923},{277,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{1898,1846},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,5}</string>
                <key>spriteSourceSize</key>
                <string>{277,5}</string>
                <key>textureRect</key>
                <string>{{1243,1796},{277,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuyet_mang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,425}</string>
                <key>spriteSourceSize</key>
                <string>{328,425}</string>
                <key>textureRect</key>
                <string>{{1350,513},{328,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,510}</string>
                <key>spriteSourceSize</key>
                <string>{391,510}</string>
                <key>textureRect</key>
                <string>{{1020,1},{391,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ying_and_yang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,247}</string>
                <key>spriteSourceSize</key>
                <string>{247,247}</string>
                <key>textureRect</key>
                <string>{{1680,477},{247,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zoom_in_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1898,1790},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zoom_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1833,1846},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{1976,1931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a10c0d554ad8deba196af122ccfac66a:1cfd6ac3e76256fc308add98828b01a2:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
