<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,346}</string>
                <key>spriteSourceSize</key>
                <string>{16,346}</string>
                <key>textureRect</key>
                <string>{{1905,1029},{16,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{1905,961},{54,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>center_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{586,1988},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checked_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1932,899},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checked_checkbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{689,1885},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear1_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1923,1353},{103,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clear_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{1,1934},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compass_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{910,910}</string>
                <key>spriteSourceSize</key>
                <string>{910,910}</string>
                <key>textureRect</key>
                <string>{{1020,1},{910,910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compass_can.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,1017}</string>
                <key>spriteSourceSize</key>
                <string>{1017,1017}</string>
                <key>textureRect</key>
                <string>{{1,1},{1017,1017}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decrease_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1929,997},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{1932,321},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,45}</string>
                <key>spriteSourceSize</key>
                <string>{302,45}</string>
                <key>textureRect</key>
                <string>{{235,1887},{302,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1932,439},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eff_studio_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,415}</string>
                <key>spriteSourceSize</key>
                <string>{371,415}</string>
                <key>textureRect</key>
                <string>{{1532,913},{371,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{646,1928},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>export_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{526,1934},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoa_hai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,425}</string>
                <key>spriteSourceSize</key>
                <string>{328,425}</string>
                <key>textureRect</key>
                <string>{{331,1020},{328,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>increase_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1923,1057},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>information_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{95,65}</string>
                <key>textureRect</key>
                <string>{{1932,127},{95,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1923,1237},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{1905,1017},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luc_sat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,422}</string>
                <key>spriteSourceSize</key>
                <string>{325,422}</string>
                <key>textureRect</key>
                <string>{{1305,1659},{325,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ngu_qui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,424}</string>
                <key>spriteSourceSize</key>
                <string>{327,424}</string>
                <key>textureRect</key>
                <string>{{1418,1330},{327,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>normal_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1931,943},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_checkbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{646,1979},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{106,1934},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open_files_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1932,1},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phuc_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,427}</string>
                <key>spriteSourceSize</key>
                <string>{328,427}</string>
                <key>textureRect</key>
                <string>{{1,1020},{328,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phuoc_duc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,427}</string>
                <key>spriteSourceSize</key>
                <string>{328,427}</string>
                <key>textureRect</key>
                <string>{{235,1458},{328,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,232}</string>
                <key>spriteSourceSize</key>
                <string>{474,232}</string>
                <key>textureRect</key>
                <string>{{1,1458},{474,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup_ok_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,41}</string>
                <key>spriteSourceSize</key>
                <string>{104,41}</string>
                <key>textureRect</key>
                <string>{{583,1885},{104,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_clear1_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{211,1934},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_clear_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{316,1934},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_decrease_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1923,1117},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,57}</string>
                <key>textureRect</key>
                <string>{{1932,380},{64,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_edit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1932,501},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_export_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{586,1928},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_increase_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{1923,1177},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_information_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{95,65}</string>
                <key>textureRect</key>
                <string>{{1932,224},{95,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pressed_left_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{1923,1295},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_ok_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{103,59}</string>
                <key>textureRect</key>
                <string>{{421,1934},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_open_files_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1932,64},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_right_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{1932,563},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_zoom_in_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1932,679},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pressed_zoom_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1932,791},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,262}</string>
                <key>spriteSourceSize</key>
                <string>{198,262}</string>
                <key>textureRect</key>
                <string>{{1729,1659},{198,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right_rotation_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{1932,621},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanh_khi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,425}</string>
                <key>spriteSourceSize</key>
                <string>{327,425}</string>
                <key>textureRect</key>
                <string>{{565,1458},{327,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite9path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{1905,913},{46,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>studio_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,409}</string>
                <key>spriteSourceSize</key>
                <string>{365,409}</string>
                <key>textureRect</key>
                <string>{{894,1634},{365,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thien_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,425}</string>
                <key>spriteSourceSize</key>
                <string>{326,425}</string>
                <key>textureRect</key>
                <string>{{991,1306},{326,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touch_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1985,1237},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,5}</string>
                <key>spriteSourceSize</key>
                <string>{277,5}</string>
                <key>textureRect</key>
                <string>{{1997,439},{277,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trans_bar_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{539,1887},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trans_bar_color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,5}</string>
                <key>spriteSourceSize</key>
                <string>{277,5}</string>
                <key>textureRect</key>
                <string>{{1997,718},{277,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuyet_mang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,425}</string>
                <key>spriteSourceSize</key>
                <string>{328,425}</string>
                <key>textureRect</key>
                <string>{{661,1020},{328,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,510}</string>
                <key>spriteSourceSize</key>
                <string>{391,510}</string>
                <key>textureRect</key>
                <string>{{1020,913},{391,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zoom_in_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1932,735},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zoom_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1932,845},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{2003,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed519b7e59fff81556e704157c264991:c21ccf86728c436f101e232e06bc41aa:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
